@tailwind base;
@tailwind components;
@tailwind utilities;

.full-bleed {
	box-shadow: 0 0 0 100vmax #0f172a;
	clip-path: inset(0 -100vmax);
}

.scrollbar ::-webkit-scrollbar {
	width: 0;
	height: 0;
	cursor: pointer;
}

#nprogress .spinner {
	display: none !important;
}
